body {
  padding: 7rem;
  background-color: #e2eff3;
  font-family: sans-serif;
}

input { 
  border-radius: 5px;
  margin-bottom: 25px;
  width: 260px;
  height: 40px;
  border: none;
  outline: none;
}

.table-wrapper {
  border-radius: 10px;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.table-container {
 /*  border-radius: 10px; */
  overflow: hidden;
 /*  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3); */
  display: inline-block; /* Ajusta el tamaño al contenido */
}
 
table {
 /*  border-radius: 10px; */
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: #4b4d4f;
  /* border: 1px solid #ddd; */
/*   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  */
 /*  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3); */
}

thead, tfoot {
  background: #143459;
  color: white;
  cursor: pointer; 
}

thead th:hover {
  background: #355172;
}

tfoot th:hover {
  background: #355172;
}

th, td {
  text-align: left;
  padding: 16px;
}

td {
  border: 0.5px solid #ddd;
  padding: 8px;
}

tbody tr { background-color: white; } 

 tr:nth-child(even) {
  background: #f2f2f2;
}

tbody tr:hover {
 /*  background-color: #cceff7; */
  background-color: rgba(0, 0, 0, .02);
 /*  transform: scale(1.01);*/
}

button {
  margin-left: 12px;
 /*  background-color: #cceff7; */
 
  border-radius: 5px;
  height: 36px;
  cursor: pointer;
  border: none;
  background: #143459;
  color: white;
  
}

button:hover { 
  background: #355172;
 }

button:active {
 /*  background-color: #e7f5f8; */
  
  transform: scale(1.05)
}